USE [master]
GO
/****** Object:  Database [StoreMDB]    Script Date: 2021-08-31 3:16:49 PM ******/
CREATE DATABASE [StoreMDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StoreMDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StoreMDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StoreMDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StoreMDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StoreMDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StoreMDB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2021-08-31 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](500) NOT NULL,
	[ProductPrice] [decimal](18, 2) NOT NULL,
	[Active] [bit] NOT NULL,
	[LastActionDateTime] [datetime] NOT NULL,
	[ServerDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_tblProduct] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2021-08-31 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](500) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[ConfirmPassword] [nvarchar](500) NOT NULL,
	[UserRole] [nvarchar](500) NOT NULL,
	[Active] [bit] NOT NULL,
	[AddProduct] [bit] NULL,
	[EditProduct] [bit] NULL,
	[DeleteProduct] [bit] NULL,
	[DetailsProduct] [bit] NULL,
	[LastActionDateTime] [datetime] NOT NULL,
	[ServerDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_tblUser_1] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_tblProduct_DteServerDateTime]  DEFAULT (getdate()) FOR [ServerDateTime]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_tblUser_dteServerDateTime]  DEFAULT (getdate()) FOR [ServerDateTime]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_User]
GO
USE [master]
GO
