USE [master]
GO
/****** Object:  Database [StoreMDB]    Script Date: 2021-08-29 4:06:12 PM ******/
CREATE DATABASE [StoreMDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StoreMDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StoreMDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StoreMDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StoreMDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StoreMDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StoreMDB]
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 2021-08-29 4:06:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[intProductId] [bigint] IDENTITY(1,1) NOT NULL,
	[intUserId] [bigint] NOT NULL,
	[strUserName] [nvarchar](50) NOT NULL,
	[strProductName] [nvarchar](500) NOT NULL,
	[intProductPrice] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[dteLastActionDateTime] [datetime] NOT NULL,
	[DteServerDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_tblProduct] PRIMARY KEY CLUSTERED 
(
	[intProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 2021-08-29 4:06:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[intUserId] [bigint] IDENTITY(1,1) NOT NULL,
	[strUserName] [nvarchar](500) NOT NULL,
	[strUserRole] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[dteLastActionDateTime] [datetime] NOT NULL,
	[dteServerDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_tblUser_1] PRIMARY KEY CLUSTERED 
(
	[intUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblProduct] ADD  CONSTRAINT [DF_tblProduct_DteServerDateTime]  DEFAULT (getdate()) FOR [DteServerDateTime]
GO
ALTER TABLE [dbo].[tblUser] ADD  CONSTRAINT [DF_tblUser_dteServerDateTime]  DEFAULT (getdate()) FOR [dteServerDateTime]
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD  CONSTRAINT [FK_tblProduct_tblUser] FOREIGN KEY([intUserId])
REFERENCES [dbo].[tblUser] ([intUserId])
GO
ALTER TABLE [dbo].[tblProduct] CHECK CONSTRAINT [FK_tblProduct_tblUser]
GO
USE [master]
GO
