<!DOCTYPE html>
<html>
<body>
    <h1>Some Thing wents wrong.Please try again</h1>
    <div>
        <a asp-controller="RegisterLogin" asp-action="Register">Back to List</a>
    </div>
</body>
</html>